* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cnt-big {
  margin: 0 auto;
  max-width: $containerBig;
  height: 100%;

  .centered__y {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.btn {
  border-radius: 20px;
  border: none;
  width: $btnWidth;
  color: #fff;
  padding: 10px 0;
  font-size: $subTitleFont;
  font-weight: $fontBold;
}

.btn--sign {
  background-color: transparent;
  border: 2px solid #fff;
  
  &:hover {
    background: white;
    color: black;
  }
}

.btn--primary {
  background: $mainColor ;
  
  &:hover {
  background: $mainColorDark;
  }

}