* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//mix
.cnt-big {
  margin: 0 auto;
  max-width: $containerBig;
  height: 100%;

  .centered__y {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.btn {
  border-radius: 20px;
  border: none;
  width: $btnWidth;
  color: #fff;
  padding: 10px 0;
  font-size: $subTitleFont;
  font-weight: $fontBold;
}
.text__centered {
  text-align: center;
}

.cnt-small {
  margin: 0 auto;
  width:$containerSmall;
}

.section__title {
  font-size: $h3Font ;
  margin: 30px 0;
}

.section__par {
  font-size: $parFont;
  margin-bottom: 30px;
}

.link {
  padding: 30px 0;
  
  a {
    color: $mainColor;
    text-decoration: none;
  }
  &:hover {
    text-decoration: underline;
  }
}
//bottoni
.btn--sign {
  background-color: transparent;
  border: 1px solid #fff;
  
  &:hover {
    background: white;
    color: black;
  }
}

.btn--primary {
  background: $mainColor ;
  
  &:hover {
  background: $mainColorDark;
  }

}


.box {
  display: flex;
  align-items: center;
  flex-direction: row;
  
    & img {
      max-width: $featuresImg;
    }

    & .features-text{
      width: $featuresText;
      margin: 0 30px;
    }
}


