//colors
$mainColor: #1473e6;
$mainColorDark: #0d66d0; 
$textColor: #2c2c2c;

//fonts
$parFont: 18px;
$h3Font: 36px;
$h1Font: 44px;
$subTitleFont: 22px;
$fontBold: 700;
//containers
$containerSmall:800px;
$containerBig: 80%;
$btnWidth: 200px;
$featuresImg: 50%;
$featuresText: 40%; 
