//colors
$mainColor: #1473e6;
$mainColorDark: #0d66d0; 
$textColor: #2c2c2c;

//fonts
$parFont: 18px;
$h2Font: 36px;
$h1Font: 44px;
$subTitleFont: 22px;

//containers
$containerSmall:800px;