@import "Partials/variables";
@import "Partials/common";

body {
  font-family: 'Ubuntu', sans-serif;
}

.hero {
  height: 600px;
  background-image: url('https://cc-prod.scene7.com/is/image/CCProdAuthor/dt-ps-max-poster-image?$pjpeg$&jpegSize=300&wid=1440');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;

  h1 {
      color: #fff;
    }

  p {
    color: #fff;
    font-size: $subTitleFont;
    margin: 30px 0;
      
  }
}

main {
  margin-top: 80px;
}

.features {
  margin-top: 80px;
}

.features-container {

  margin-bottom: 60px;

}